/* variables should be defined in the pseudo class named "root" */
:root{
    /*defining a variable in css, we precede the name with " --"*/
    --backgroundColor : cornflowerblue;
    --board-backgroundColor:bisque;
    --board-borderColor:burlywood;
    --panel-backgroundColor:lightgoldenrodyellow;
    --panel-borderColor:burlywood;
}


body {
    background-color:var(--backgroundColor); /* this is the call to a variable "var()"*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.app-container {
    width: 800px;
    height: 800px;
    position: absolute;
     left: 50%;
    top: 10%;
    margin-left: -450px;
}

.panel {
   position: absolute;
    background-color: var(--panel-backgroundColor);
    border: 8px solid var(--panel-borderColor);
    -webkit-box-shadow: 7px 5px 15px 3px rgba(0,0,0,0.9);
    box-shadow :7px 5px 15px 3px rgba(0,0,0,0.9);
    z-index: 1 ; /* the default value is zero*/
}
/* class Header is here to try to centralize stuff*/
.header{
    left: 50%;
    top:20px;
    height: 80px;
    width: 300px;
    margin-left: -120px;
}
.footer{
    left: 50%;
    top:89%;
    height: 70px;
    width: 300px;
    margin-left: -115px;
    display:grid;
    grid-template-columns: repeat(1,1fr); 
}
.footer button{
    position: relative;
    margin-top: 15px;
    margin-left: 45px;
    width: 200px;
    height: 40px;
    background-color: lightblue;
    font-size: 20px;
    -webkit-box-shadow: 7px 5px 15px 3px rgba(0,0,0,0.9);
    box-shadow :7px 5px 15px 3px rgba(0,0,0,0.9);
    border: 5px solid chocolate;
    font-weight: bold;

}
.footer button:hover {
    background-color: chocolate;
}

.header-text {
font-size: 30px;
font-weight: bold;
width: 220px;
margin: 0;
position:absolute;
top:50%;
left: 50%;
-ms-transform: translate(-50%,-50%);
transform: translate(-50%,-50%); /*center an elt considering his parent */
}
.gameBoard{
    display:grid;
    grid-template-columns: repeat(4,1fr); 
    grid-template-rows:1fr 1fr 1fr 1fr;
    padding:20px; 
    width:550px;
    position:absolute; /* left below only works if "position " attribute is set*/
    left:50%;
    margin-left:-250px;
    top:10%;
    background-color:var(--board-backgroundColor);
    border: 8px solid var(--board-borderColor);
    border-radius: 8%;
    -webkit-box-shadow: 7px 5px 15px 3px rgba(0,0,0,0.9);
    box-shadow :7px 5px 15px 3px rgba(0,0,0,0.9);
}


.gameCircle{
    width:100px;
    height:100px ;
    margin:15px ;
    border-radius:50%;  /*this turn a square div into a circle*/  
    border:5px solid black
}

.player_0 {
    background-color:white;
}
.player_1 {
    background-color:greenyellow;
}

.player_2 {
    background-color: blue;
}
